body {
  background-color: #CAF0F8;
  color: #03045E;
}

.App {
  margin: 3% auto;
  padding: 2%;
  background-color: #0077B6;
  border-radius: 20px;
  box-shadow:  0 0 5px 5px #023E8A, 0 0 10px 10px #0096C7, 0 0 20px 20px #48CAE4, 0 0 40px 40px #ADE8F4;
}
